body {
    margin: 0;
    padding: 0;
}

.invisibleGameBoard {
    height: 640px;
    width: 640px;
    margin-top: 10px;
    padding: 10px 0px 10px 100px;
}

.gameBoard {
    height: 840px;
    width: 840px;
    border: 0;
    float: left;
    background-image: url(../img/focusEmptyBoard.svg);
    background-repeat: no-repeat;
}

.buttonBoard {
    width: 600px;
    padding: 30px 120px 10px 120px;
    float: left;
}

.playOptionButton {
    width: 200px;
    height: 50px;
    padding: 0;
    float: left;
}

.reserveRed {
    height: 70px;
    width: 330px;
    border: 0;
    margin-top: 10px;
    margin-left: 250px;
}

.reserveGreen {
    height: 70px;
    width: 330px;
    border: 0;
    margin-top: 10px;
    margin-left: 250px;
}

.playerRedField {
    height: 80px;
    width: 80px;
    background-image: url(../img/focusPawnRed.svg);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: relative;
    background-blend-mode: multiply;
}

.playerRedField > img {
    opacity: 0.75;
    position: absolute;
}

.playerRedFieldHovered {
    opacity: 0.75;
    height: 80px;
    width: 80px;
    background-image: url(../img/focusPawnRed.svg);
    background-repeat: no-repeat;
    float: left;
    position: relative;
    background-position: center;
}

.playerRedFieldHovered > img {
    opacity: 0.6;
    position: absolute;
}

.playerGreenField {
    height: 80px;
    width: 80px;
    background-image: url(../img/focusPawnGreen.svg);
    background-repeat: no-repeat;
    float: left;
    background-position: center;
    position: relative;
}


.playerGreenFieldHovered {
    opacity: 0.75;
    height: 80px;
    width: 80px;
    background-image: url(../img/focusPawnGreen.svg);
    background-repeat: no-repeat;
    float: left;
    background-position: center;
    position: relative;
}

.playerGreenField > img {
    opacity: 0.75;
    position: absolute;
}

.playerGreenFieldHovered > img {
    opacity: 0.6;
    position: absolute;
}

.emptyField {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    z-index: 2;
}