body {
    margin: 0;
    padding: 0;
}

.gameBoard {
    height: 640px;
    width: 640px;
    border: 0;
    background-image: url(../img/focusEmptyBoard.svg);
    background-repeat: no-repeat;
    padding: 80px;
}

.playerRedField {
    height: 80px;
    width: 80px;
    background-image: url(../img/focusPawnRed.svg);
    background-repeat: no-repeat;
    float: left;
    z-index: 2;
}

.playerGreenField {
    height: 80px;
    width: 80px;
    background-image: url(../img/focusPawnGreen.svg);
    background-repeat: no-repeat;
    float: left;
    z-index: 2;
}

.emptyField {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    float: left;
    z-index: 2;
}