body {
    margin: 0;
    padding: 0;
}

#virtualBoard {
    height: 640px;
    width: 640px;
    margin-top: 10px;
    padding: 10px 0px 10px 100px;
}

#board {
    height: 840px;
    width: 840px;
    border: 0;
    float: left;
    background-image: url(img/focusEmptyBoard.svg);
    background-repeat: no-repeat;
}

.buttonBoard {
    width: 600px;
    padding: 20px 120px 10px 120px;
    float: left;
}

.playOptionButton {
    width: 200px;
    height: 50px;
    padding: 0;
    float: left;
}

.reserveRed {
    height: 70px;
    width: 330px;
    border: 0;
    margin-top: 10px;
    margin-left: 250px;
}

.emptyReserve {
    height: 70px;
    width: 30px;
    border: 0;
    float: left;
}

.reserveRedPawn {
    height: 70px;
    width: 30px;
    background-image: url(img/focusReserveRed.svg);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.reserveGreenPawn {
    height: 70px;
    width: 30px;
    background-image: url(img/focusReserveGreen.svg);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.reserveGreen {
    height: 70px;
    width: 330px;
    border: 0;
    margin-top: 10px;
    margin-left: 250px;
}

.redUnselected {
    height: 80px;
    width: 80px;
    background-image: url(img/focusPawnRed.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    float: none;
    position: fixed;
}

.playerRedField>img {
    opacity: 0.75;
    position: absolute;
}

.redselected {
    opacity: 0.75;
    height: 80px;
    width: 80px;
    background-image: url(img/focusPawnRed.svg);
    background-repeat: no-repeat;
    background-position: center;
    float: none;
    position: fixed;
}

.playerRedFieldHovered>img {
    opacity: 0.6;
    position: absolute;
}

.greenUnselected {
    height: 80px;
    width: 80px;
    background-image: url(img/focusPawnGreen.svg);
    background-repeat: no-repeat;
    background-position: center;
    float: none;
    position: fixed;
}

.rootClickableObject {
    height: 80px;
    width: 80px;
    float: left;
    position: relative;
    display: block;
}

.greenselected {
    opacity: 0.75;
    height: 80px;
    width: 80px;
    background-image: url(img/focusPawnGreen.svg);
    background-repeat: no-repeat;
    background-position: center;
    float: none;
    position: fixed;
}

.playerGreenField>img {
    opacity: 0.75;
    position: absolute;
}

.playerGreenFieldHovered>img {
    opacity: 0.6;
    position: absolute;
}

.empty {
    height: 80px;
    width: 80px;
    z-index: 2;
    float: none;
    position: fixed;
}


.reserveRedPawn {
    height: 70px;
    width: 30px;
    background-image: url(img/focusReserveRed.svg);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.reserveGreenPawn {
    height: 70px;
    width: 30px;
    background-image: url(img/focusReserveGreen.svg);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}